html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #bdc2d5;
  font-size: 100%;
  margin: 0;
  padding: 0;
}


/* ------------------------------------HOMEPAGE----------------------------------- */
/* Home page general css */

/* MOVE SOME STUFF SUCH AS SPACE-BETWEEN TO LARGE SCREENS */
.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.backgound-image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}

.main-content {
  display: flex;
padding: 0 3%;
}

.title-wrapper {
text-align: center;
}

.name {
  font-size: 3.5rem;
  letter-spacing: 1rem;
}

.decorative-line{
height: 5px;
}

.job-title{
  color: #654c6b;
  text-transform: uppercase;
  font-size: 2.7rem;
}



/* -----------------------------------Font Break Point------------------------------ */
/* Less than 1400 */
@media only screen and (max-width: 1400px) {

  .name {
    font-size: 2.7rem;
    letter-spacing: 0.8rem;
  }

  .decorative-line{
  height: 4px;
  }

  .job-title{
    font-size: 2.3rem;
  }

}





/* -----------------------------------Font Break Point------------------------------------------ */
/* Less than 1200 */
@media only screen and (max-width: 1200px) {

  .name {
    font-size: 2rem;
    letter-spacing: 0.7rem;
  }


  .job-title{
    font-size: 1.7rem;
  }

}

/* ---------------------------------------Big Screens-------------------------------------- */
/* all the screens over 760 make the hover possible and the dropdown menu appear */
@media only screen and (min-width: 761px) {

/* ---------------------------HOMEPAGE LARGE SCREENS-------------------------------------- */
/* Homepage CSS FOR ALL LARGE SCREENS */
.content-wrapper {
  height: 100vh;
  justify-content: space-between;
}

.main-content {
  justify-content: center;
height: 80vh;
}

.title-wrapper {
width: 66%;
align-self: flex-start;
margin-top: 7%;
}

.img-my-photo-homepage-desktop{
  max-height: 80vh;
  max-width: 40vw;
align-self: flex-end;
}

.img-my-photo-homepage-mobile {
  display: none;
}

}
/* --------------------------------------SMALL SCREENS--------------------------------------- */
/* Less than 760 */
@media only screen and (max-width: 760px) {

/* ---------------------HOMEPAGE MOBILE SCREENS--------------------------------- */
.main-content {
flex-direction: column;
align-items: center;
height: 100vh;
justify-content: space-between;
padding-bottom: 10%;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15%;
  margin-bottom: 10%;
  height: 60%;
}


.img-my-photo-homepage-mobile{
  max-width: 80vw;
  padding-bottom: 10%;
}
.img-my-photo-homepage-desktop {
  display: none;
}

.name {
  font-size: 1.8rem;
  letter-spacing: 0.6rem;
}

.decorative-line{
height: 3px;
}

.job-title{
  font-size: 1.5rem;
}

}



/* end */
